.article_bookmarks {
	border: 1px solid #7a7a7a;
	margin: 1em;
	margin-left: 2.5em;
	padding: 1em;
	border-radius: 7px;
	width: 20%;
	height: 18em;
	overflow: scroll;
	display: inline-block;
	box-shadow: 10px 10px 5px #888888;
}

.article_bookmarks:hover{
	border: 2px solid #cfcfcf;
}

#bookmark_image img{
	height: 6em;
	margin-left: 0.7em;
	width: 90%;
	border-radius: 7px;
	box-shadow: 5px 5px 5px #888888;
}

.delete {
	float: right;
	margin-top: -1em;
	margin-right: -1em;
	font-weight: bold;
	font-size: 10px;
	padding-left: 0.4em;
	padding-right: 0.4em;
	border-radius: 100%;
	background: rgba(168, 0, 3, 0.2) ;
}

.delete a {
	text-decoration: none;
	color: white;
}

.delete a:hover {
	color: #ff8587;
}

#cloud {
	padding: 2em;
	border-radius: 10px;
	line-height: 1.6em;
	.s { 
		font-size: 1em; 
	}
	.m { 
		font-size: 1.2em; 
	}
	.l { 
		font-size: 1.4em; 
	}
	width: 350px; height: 120px;
	background: #d0e9fb;
	background: linear-gradient(top, #d0e9fb 5%, #d6f0fd 100%);
	border-radius: 100px;
	position: relative;
	margin: 120px auto 20px;
}

#cloud:after, #cloud:before {
	content: '';
	position: absolute;
	background: #d0e9fb;
	z-index: -1;
}

#cloud:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#cloud:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
	
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

.shadow {
	width: 350px;
	position: absolute; bottom: -10px; 
	background: #000;
	z-index: -1;
	
	box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
	
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}