<br />
<br />
<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy"><br />
      <i class="fa fa-bookmark fa-3x"></i>
      <h1>Markr</h1>
      <p>The easiest way to set and manage your bookmarks.</p> 
    </div>
    <button class="signup_button"><%= link_to "Sign Up Now", new_user_registration_path %></button>
  </div>
</div>
</div>

<div class="grid-items">
  <a href="javascript:void(0)" class="grid-item" id="grid-item-image-1">
    <i class="fa fa-check-square fa-3x"></i>
    <h1>Easy to Use</h1>
    <p>Just copy and paste the url to your page or simpy use our bookmarklet!</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-big" id="grid-item-image-2">
    <i class="fa fa-plus-square fa-3x"></i>
    <h1>The Markr Bookmarklet</h1>
    <p>When you are viewing a page that you'd like to save to Markr, simply click the 'Add to Markr' bookmarklet in your Bookmarks/Favorites Toolbar to save it to your account.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-big" id="grid-item-image-3">
    <i class="fa  fa-search fa-3x"></i>
    <h1>Search within the content you’ve saved</h1>
    <p>The more you save to Markr, the more important it is to be able to find anything in your list. With full-text, tag and author search, Markr makes it easier than ever to find and rediscover the content you’ve saved.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item" id="grid-item-image-4">
    <i class="fa fa-picture-o fa-3x"></i>
    <h1>Bookmark Anything on the Web</h1>
    <div id="icons">
      <i class="fa fa-list-alt fa-2x inline_icon" ></i>
      <i class="fa fa-picture-o fa-2x inline_icon"></i>
      <i class="fa fa-video-camera fa-2x inline_icon"></i> <br />
      <p class="inline_icon icon_text">Articles</p>
      <p class="inline_icon icon_text">Videos</p>
      <p class="inline_icon icon_text">Images</p>
    </div>
  </a>
  <a href="javascript:void(0)" class="grid-item" id="grid-item-image-5">
    <i class="fa  fa-mobile fa-3x"></i>
    <h1>Mobile friendly</h1>
    <p>Our site is mobile friendly. So your page looks great on the go too.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-big" id="grid-item-image-6">
    <i class="fa fa-tasks fa-3x"></i>
    <h1>Personalize Your Space</h1>
    <p>Get it the way you want it. Have your top 10 bookmarks for your favorite articles, images and videos all on a single page!</p>
  </a>
</div>


<footer class="footer-2">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
    <ul>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a></li>
      </ul>
    </div>
    <p class= "disclaimer">Disclaimer this site might be to awesome for normal eyes.</p>
</footer>
